@import './_theme.scss';
// @import "~material-components-web/material-components-web";
@import '@material/react-snackbar/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-fab/index.scss';
@import '@material/react-dialog/index.scss';

@import '~draft-js/dist/Draft.css';



body {
  background-color: $mdc-theme-background;
  margin: 0px;
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  // .channel-title-container {
  //   margin-top: 1rem;
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-items: flex-end;
  // }
  .channel-container-text {
    margin-left: 2rem;
  }

  .add-channel_fab {
    position: absolute;
    left: 11rem;
    bottom: 2rem;
    z-index: 6;
  }
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

// .drawer {
//   top: 0;
//   position: absolute;
// }

.welcome-card {
  margin: 7%;
  padding: 5%;
  padding-top: 0;
  text-align: center;

  // main {
  //   margin-left: 5%;
  //   margin-right: 5%;
  // }

  .username-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.chat-app {
  display: flex;
  flex-flow: column;

  //https://stackoverflow.com/a/3037901
  height: 100%;
  box-sizing: border-box;
}

.editor-container {
  border: 1px solid $mdc-theme-background;
  // border-radius: 10px;
  display: block;
  flex-grow: 0;
  position: relative;

  box-sizing: border-box;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  // margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;

  div.DraftEditor-root {
    background-color: #fffef7;
    // width: 100%;
    // margin: auto;
    box-shadow: 0px 0px 0px 0px $mdc-theme-secondary;
    height: 8rem;
    overflow-y: hidden;
    padding: 0.5rem;
    // border-radius: 10px;

    font-family: $mdc-typography-font-family;
    font-size: 1.2rem;
  }

  button {
    vertical-align: bottom;
  }
}

#channel-name__input--container {
  margin-top: 1rem;
}

.message-list {
  font-family: $mdc-typography-font-family;
  font-size: 1.2rem;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px 0px 0px 10px;
  // padding: 20px;
  display: flex;
  flex-direction: column;
}

.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  // background-color: $mdc-theme-surface;
  // border: 1px;
  // border-radius: 5px;
  // padding-right: 50px;
}

.message {
  flex-wrap: wrap;
  display: flex;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
  width: 100%
}

.message.from-me {
  justify-content: flex-end;
  margin-bottom: .5rem;

  .username {
    display: none;
  }

  .message-body {
    // background-color: #af9570;
    // color: white;
  @include mdc-card-fill-color($mdc-theme-error);
  }
}

.message:not(.from-me) {
  justify-content: flex-start;
  margin-bottom: 20px;

}